/* Подключение шрифта */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monserrat:wght@400;700&display=swap');
/* Общие стили */
body {
 margin:0;
 padding:0;

 background: linear-gradient(to bottom, #f9f9f9, #e9f0ff);;
}

/* Верхняя чёрная полоса */
.bar {

   padding-bottom: 10px;
 margin-top: 0px;
  width: 100%;
  height:auto;
  background-color:#22333B;

}

/* Центрирование контента */
.bro {
 display: flex;
  justify-content: space-around; /* or center / flex-start / flex-end */
  align-items: center; 
 flex-direction:row;
padding:5;
}

/* Изображение */
.bro img {
 display:block;
   flex-direction: row;
   text-align: center;
 margin-top:0;
 
  width: 25%;
  height: auto;
 cursor:pointer;
 transition: 0.3s;
   
}

/* Заголовок */
 .bar h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 60px;
   color:#D4D2D5;
}
.History_bar{

   display: flex;

 
  align-items:center;

 
 width:100%;
 height:auto;
 background:#5E503F;
   
}
.History_bar h1{

  display: flex;

  align-items: center;
  text-align:center;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 60px;


   color:#F8F5F1;
 
}
.History_bar p{

 display:flex;
 justify-content:space-between;
flex-direction:row-reverse;
   font-family: 'Space Grotesk', sans-serif;
 max-width:25%;
  font-weight: 700;
  font-size: 20px;
   color:#F8F5F1;
}
.bar3{

   padding-bottom: 10px;
 margin-top: 0px;
  width: 100%;
  height:auto;
  background-color:#EAE0D5;
 border-radius: 15px;
 
}

.about_me_head h1{
display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 60px;
   color:#6D5337;

 
}
.about_me img{
 display:block;
   flex-direction: row;
   text-align: flex-start;
 margin-top:0;
 
  width: 15%;
  height: auto;
 cursor:pointer;
 transition: 0.3s;
   

 
}
.about_me p{
display:flex;
  align-items: flex-end;
  text-align: flex-end;
 max-width:75%;
   font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 20px;
   color:#5E503F;




}
.about_me {
display:flex;
flex-direction:row;
 justiffy-content:space-between;
 margin:10px;
 gap:30px;
}



 
.bar2 a{
display:flex;
   font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 25px;
   color:blue;
 cursor:pointer;
 transition: 0.5s;


}

.bar2{
background-color:white;
 padding:0;
 width:100%;
 height:auto;
 display:flex;
 justify-content: space-between;
 flex-direction: row-reverse;


}
.bro img:hover {
 width:40%;
 height:auto;
}
.about_me img:hover{
  width:30%;
 height:auto;
}
.bar2 a:hover {
  background-color: #555;
  border-radius: 5px;
 color:white;
}
