/* Подключение шрифта */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monserrat:wght@400;700&display=swap');
/* Общие стили */
body {
 margin:0;
 padding:0;

  background-color: white;
}

/* Верхняя чёрная полоса */
.bar {

   padding: 0;
 margin-top: 0px;
  width: 100%;
  height:auto;
  background-color: blue;
 position: fixed;
}

/* Центрирование контента */
.bro {
 display: flex;
  justify-content: space-between; /* or center / flex-start / flex-end */
  align-items: center; 
 flex-direction:row;
padding:5;
}

/* Изображение */
.bro img {
 displat:block;
   flex-direction: row;
   text-align: center;
 margin-top:0;
  width: 50%;
  height: auto;
   
}

/* Заголовок */
 .bar h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 60px;
   color:white;
}
.bar2 p{
display:flex;
   font-family: 'Monserrat', sans-serif;
  font-weight: 700;
  font-size: 35px;
   color:blue;
 cursor:pointer;
 transition: 0.5s;



}
.bar2{
background-color:white;
 padding:0;
 width:100%;
 height:auto;
 display:flex;
 justify-content: space-between;
 flex-direction: row-reverse;


}
.bar2 p:hover {
  background-color: #555;
  border-radius: 5px;
 color:white;
}
