@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400&display=swap');
.bro {
  display: flex;
justify-content: center;
  align-items: center;
  flex-direction: column;
   margin-top:50;
}
h1 {
 
    font-family: 'Space Grotesk' , sans-serif;
    font-weight:500;
    color: black;
    background:blue;
}
.bar {
  width: 100%;
  height: 50px;       /* You can change height */
  background: blue;   /* Or any color */
}
